.img-1, .img-2, .img-3, .img-4{
    height: 80px;
    width: 80px;
}
/* .logo-1-main-div, .logo-2-main-div, .logo-3-main-div, .logo-4-main-div{
    height: 100px;
    width: 100px;
} */
.stepper-status {
    /* margin: 0; */
    padding: 0;
    display: block;
    margin: 14px auto;
    width: 165px;
    background: #526069;
    border-right: 1px solid #fff;
    color: #fff;
    /* transition: all 1s ease-in-out; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
/* .container{
    border: 1px solid black;
} */
/*#### For Pop message ####*/
.pop-message {
    background-color: #FBC02D;
    color: black;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0px 7px 0px;
    text-align: center;
    display: block;
}
.collaps-logo-div{
    height: 20px;
    width: 20px;
}
.collaps-logo-img {
    /* height: 29px; */
    width: 59px;
    border-radius: 50%;
    /* margin: -16px 0px; */
}
.heading-card{
    color: black;
    font-weight: 400;
    font-size: 17px;
}
.down-arrow{
    color: black; 
}
.button-collaps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
}
.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.input-div input{ 
    width: 100%;
    padding: 7px 0px 70px 11px;
    font-size: 21px; 
}
.next-step-btn{
    background: #f96868;
}
.input-div{
    text-align: center;
}
.currency{
    color: #00a993;
}
b{
    font-size: 12px;
}
.logo-3-main:hover{
    background: rgb(165, 165, 165);
}
tr:hover {
    background: #ded;
}
.card-header:hover {
    background: #b6c1c1 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: white;
}
.nav {
    /* display: -webkit-box; */
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.heading-dermamina{
    padding: 0px 12px;
}

/* for calender */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 1px;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
th.dow {
    padding: 3px 11px;
    font-weight: bold;
    font-size: 15px;
    color: #29b6f7;
}
td.old.day {
    text-align: center;
}
td.day {
    text-align: center;
    cursor: pointer;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    text-align: center;
    top: 369px !important;
}
th.next{
    content: "\f054";
}
.duration-min{
    font-size: 20px;
    font-weight: 500;
}
span.month {
    padding: 0px 5px;
    display: inline;
}
span.month {
    padding: 0px 4px;
    display: inline;
    font-size: 12px;
    color: #01090c;
    font-weight: 500;
    cursor: pointer;
}
span.month:first-child{
    padding: 0px 0px;
}
span.month:last-child{
    padding: 0px 0px;
}